<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="/static/wrapped/app/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spotify Wrapped</title>
    <script type="module" crossorigin src="/static/wrapped/app/assets/index-CNbM4Xij.js"></script>
    <link rel="stylesheet" crossorigin href="/static/wrapped/app/assets/index-DiwrgTda.css">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
